/* LINKS =============== */

a{
    text-decoration: none;
    color: $accent-l;

    &:hover{
        color:$brightness-l;
        background: $text-sub;
    }


}
a.first-service{
        color:$brightness-l;
}
footer nav a{
    text-align: left;
    padding:0;
}