footer {

    .footer-menu2{
    @include flex-display(0rem);
        justify-content: space-between;
    }
    ul{
    @include flex-display(1rem, column, nowrap);
    }
    @media screen and (min-width: 1000px) {
       
        .footer-menu2{
            flex-basis:30%;
            justify-content: space-evenly;
        }
        .footer-wrapper{
            @include flex-display(1rem ,row ,nowrap);
            justify-content: space-between;
            margin: auto;
            max-width: 1200px
        }
    }

}
footer
.social ul{
    @include flex-display(1rem, row, nowrap);
}