$base-l: #FCE289;
$base-m: #FADC73 ;
$base-d: #FBB549;

$brightness-l: rgb(255, 255, 255);
$brightness-m: rgb(225, 225, 225);
$brightness-d: rgb(195, 195, 195);

$contrast-l: #444;
$contrast-m: #222;
$contrast-d: #000;

$accent-l: #B971FF;
$accent-m: #8949E1;
$accent-d: #5B24C6;

$text-main: #5B24C6;
$text-sub: #8949E1;